* {
	margin: 0;
	padding: 0;

}

/*Whole body*/
body {
	font-family: apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

.header {
	position: sticky;
	top: 0;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: #f8f9f9;
	z-index: 1;

}

.header img {
	cursor: pointer;
}

.header:hover {
	background-color: #e3e6e8;
}

.header-rest {
	display: flex;
	align-items: center;
	background-color: #f8f9f9;
	padding-left: 35px;
	padding-right: 50px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
	border-top: 3px solid #f48225;
}

.header-rest img {
	width: 24px;
	background-color: #f8f9f9;
	padding: 1px 5px;
}

.logo-image img {
	width: 150px;
}

.header-rest span {
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
	background-color: #f8f9f9;
}

.products {
	margin: 0 8px;
	font-size: 14px;
	padding: 0 0 2px 0;
	background-color: #f8f9f9;
	opacity: 0.7;
}

.products:hover {
	border-style: hidden;
	background-color: #e3e6e8;
	border-radius: 20px;
}

.header-rest img:hover {
	border-style: hidden;
	background-color: #e3e6e8;
}

.header-profile {
	display: flex;
	align-items: center;
	margin: 0 20px 0 12px;
	background-color: #f8f9f9;
	border-style: hidden;
}

.header-profile img {
	width: 24px;
}

.header-profile b {
	text-align: justify;
	font-size: 12px;
}

.header-profile:hover {
	cursor: pointer;
	background-color: #e3e6e8;
	border-style: hidden;
}

.header-search {
	display: flex;
	flex: 1;
	align-items: center;
	border: 1px solid rgba(129, 129, 129, 0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 1px;
	color: white;
	background-color: white;
}

.header-search img {
	width: 16px;
	padding: 5px;
	background-color: transparent;
}

.header-search input {
	border: none;
	height: 24px;
	width: 700px;
	padding: 10px;
	outline: none;
	background-color: transparent;
	display: inline-block;
	padding: 1px;
}

.header-search:active {
	border-color: #2093c3;
	box-shadow: 0px 0px 8px #8acbde;
}

.header-search input:focus {
	box-shadow: 0px 0px 8px #8acbde;
}

/*Main body */
.main-body {
	display: flex;
}

/*Sidebar*/
.sidebar {
	position: sticky;
	top: 50px;
	height: 500px;
	flex: 0.3;
	max-width: 164px;
	padding-left: 35px;
	font-size: 12px;
	border-right: 1px solid rgba(129, 129, 129, 0.2);
}

.sidebar-option {
	display: flex;
	align-items: end;
	padding: 5px 10px 10px 10px;
	cursor: pointer;
	color: #818181;
}

.sidebar-option img {
	padding-top: 10px;
	width: 22px;
}


.sidebar-option-active, .sidebar-option-active img {
	background-color: #f1f2f3;
	color: black;
	font-weight: bolder;
}

.sidebar-option:hover {
	color: black;
}

.sidebar-option-active{
	border-right: 3px solid #f48225;
}

.home {
	padding-top: 25px;
}

.public {
	padding-top: 7px;
	font-size: 11px;
}

.option-with-left-img img {
	width: 16px;
	padding: 0 5px 5px 5px;
}

.side-with-info-img {
	padding-top: 10px;
}

.side-with-info-img img {
	width: 12px;
}

.question-side, .collectives-section, .explorecollectives, .teams-section, .createfreeteam {
	font-size: 13px;
	padding-top: 1px;
	padding-right: 2px;
}

.collectives {
	padding-right: 55px;
}

.teams {
	padding-right: 85px;
}

.tags, .users, .companies {
	padding-left: 25px;
}

.collectives-section {
	font-size: 11px;

}

.teams-section {
	font-size: 11px;
}

.explorecollectives {
	padding-top: 5px;
}

.sidebarOptionActive {
	border-right: 3px solid #f48225;
}

.sidebar-option p {
	color: #0066ff;
	padding-top: 25px;
	margin-left: 8px;
	font-size: 12px;
}

/* Rest of the body */
.rest-body-head {
	flex: 1;
	padding-left: 15px;
}

.rest-body {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px whitesmoke;
	background-color: white;
	margin: 8px;
	padding-right: 50px;
}

.rest-body-left {
	margin: 20px 10px 0 0;
	border-radius: 10%;
	box-shadow: 1px 0px 5px 0px rgb(220, 225, 228);
}

.rest-body-left img {
	width: 120px;
}

.box {
	width: 400px;
	padding: 0 100px 0 10px;
	margin-right: auto;
}

.name {
	margin-top: 20px;
	padding-right: 100px;
	font-weight: 400;
	font-size: xx-large;
}

.icon-description {
	font-size: 12px;
	font-weight: 400;
	color: gray;
	padding-left: 5px;
	margin-right: 10px;
}

/*.emoji {
	padding: 10px;
	background-color: red;
	color: red;
	margin: 0 0 10px 15px;
}*/

.name-body-option {
	display: flex;
	color: grey;
	margin-top: 5px;
	padding-bottom: 12px;
}

.name-body-option img {
	width: 18px;
}

.local-body-option {
	display: flex;
	color: grey;
	margin-left: 1px;
}

.local-body-option img {
	width: 18px;
}

#twitterlogo , #githublogo {
	cursor: pointer;
}

.drop-down {
	display: inline-block;
}

.drop-button { 
	background-color: transparent;	
	color: rgba(129, 129, 129);
	padding: 8px;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid rgba(129, 129, 129, 0.4);
	box-shadow: 0px 0px 10px gray;
	border-radius: 3px;
	margin-top: 10px;
}

.drop-button {
	background-color: #e3e6e8;
}
.list-section {
	display: flex;
	margin-bottom: 20px;
}

.list {
	display: flex;
	cursor: pointer;
}

#profile, #activity {
	/*display: flex;
	align-items: center;*/
	margin-left: 10px;
	padding: 7px 10px 7px 10px;
	border: none;
	outline: none;
	border-radius: 30px;
	cursor: pointer;
}

#profile {
	color: white;
	background-color: #f48225;
}

#activity {
	color: gray;
	background-color: white;
}

#profile:hover {
	background-color: #de741d;
}

#activity:hover {
	background-color: #e3e6e8;
}

.stat-head {
	color: hsl(210,8%,15%);
	font-size: 21px;
	margin-left: 10px;
}

.about-head {
	padding-left: 202px;
}

.stat-user {
	display: flex;
	margin-top: 15px;
}

.stats-table {
	width: 140px;
	margin-left: 10px;
	margin-right: 18px;
	padding-right: 80px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
}

.stat-table-numbers, .stat-table-texts {
	display: flex;
}

.stat-table-texts {
	font-size: 13px;
	color: #818181;
}

.stat-number-left  {
	padding: 10px 20px 0px 20px;
}

.text-number-left {
	padding: 0px 20px 5px 20px;
}

.stat-number-right {
	padding: 10px 7px 0px 0px;
}

.text-number-right {
	padding: 0px 7px 5px 10px;
}

.stats-table img {
	padding-left: 20px;
	padding-top: 10px;
	width: 24px;
}

.stat-percent {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: #818181;
	margin-left: 20px;
	padding-bottom: 15px;
	cursor: pointer;
}

.stat-percent p {
	font-weight: bolder;
}

.collective-head {
	color:  hsl(210,8%,15%);
	font-size: 21px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.collective-table {
	width: 220px;
	display: flex;
	align-items: center;
	color: hsl(210,8%,15%);
	padding: 12px 0px 12px 10px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
	margin-bottom: 20px;
}

.collective-table img:hover {
	cursor: pointer;
}

.collective-company {
	font-size: 15px;
	padding-left: 5px;
	cursor: pointer;
}

.collective-job {
	font-size: 12px;
	padding-left: 5px;
	cursor: pointer;
}

.about-user {
	color: hsl(210,8%,15%);
	padding-left: 11px;
}

.info {
	padding-top: 1px;
}

.info-space {
	padding: 10px 0;
}

.ul-padding {
	padding: 0 0 20px 30px;
}

.info-li {
	padding-top: 10px;
}

.li {
	padding-top: 10px;
}

a:visited {
	color: #0063bf;
}

/*.a:link {
	color: #0063bf;
	text-decoration: underline;
}*/

.view-space {
	padding-left: 40px;
	color: #818181;
	font-size: 13px;
	cursor: pointer;
}

.view-space img {
	width: 12px;
}

.view-all-icon {
	width: 30x;
}

.community-space {
	padding-left: 20px;
}

.community-view {
	padding-left: 585px;
	color: #818181;
	font-size: 12.5px;
	cursor: pointer;
}

.community-badge {
	display: flex;
}

.community {
	width: 160px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 5px 60px 5px 10px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
	font-size: 13px;
}

.community img {
	padding-top: 2px;
	width: 20px;
}

.community-line {
	display: flex;
	align-items: center;
	padding-bottom: 3px;
	width: 230px;
	cursor: pointer;
}

.community-line img {
	text-align: justify;
	padding-top: 5px;
}

.community-option {
	text-align: center;
	color: #0074cc;
}

.stack-number {
	padding-left: 70px;
	color: #818181;
}

.meta-number {
	padding-left: 33px;
	color: #818181;
}

.super-number {
	padding-left: 100px;
	color: #818181;
}

.server-number {
	padding-left: 95px;
	color: #818181;
}

.software-number {
	padding-left: 40px;
	color: #818181;
}


.badges {
	width: 210px;
	padding-right: 12px;
	margin-top: 21px;
	margin-right: 40px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 5px;
}

.gold, .silver, .bronze {
	display: flex;
	padding: 10px;
}

.gold img, .silver img, .bronze img {
	width: 50px;
	padding: 5px;
}

.gold-sub, .silver-sub, .bronze-sub{
	margin-left: 7px;
	padding-top: 3px;
}

.badge-number {
	font-size: 21px;
	font-weight: 500;
}

.badge-text {
	font-size: small;
}

.button-badge {
	display: flex;
	width: 200px;
	margin: 3px 0 3px 7px;
	text-align: right;
}

.button-badge button {
	padding: 0 5px;
	cursor: pointer;
	align-items: center;
	border-color: rgba(129, 129, 129, 0.7);
	border-radius: 4px;
	border-width: 1px;
	margin: 0 15px 5px 0;
	color: #818181;
	font-size: 11px;
}
.dot-gold {
	font-size: 18px;
	color: #FFD700;
}

.dot-silver {
	font-size: 18px;
	color: #c0c0c0;
}

.dot-bronze {
	font-size: 18px;
	color: #d1a684;
}

.badge-space-extensionmethods {
	margin-left: 20px;
	font-size: 10px;
}

.badge-space-properties {
	margin-left: 61px;
	font-size: 10px;
}

.badge-space-delegates {
	margin-left: 62px;
	font-size: 10px;
}

.badge-space-overloading {
	margin-left: 42px;
	font-size: 10px;
}

.badge-space-operators {
	margin-left: 52px;
	font-size: 10px;
}

.badge-space-overriding {
	margin-left: 51px;
	font-size: 10px;
}

.badge-space-networkstream {
	margin-left: 30px;
	font-size: 10px;
}

.badge-space-numberformatting {
	margin-left: 11px;
	font-size: 10px;
}

.badge-space-gregoriancalendar {
	margin-left: 9px;
	font-size: 10px;
}

.top-tag {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}

.top-tag-space {
	padding-left: 590px;
	color: #818181;
	font-size: 12.5px;
	cursor: pointer;
}

.top-tag-table {
	/*border-collapse: collapse;*/
	width: 741px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 7px;
	z-index: 10;
	margin: 5px 0 0 260px;
}

.top-tag-table td {
	padding: 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.tag-start {
	display: flex;
	cursor: pointer;
}

.tag {
	margin: 5px;
}

.tag button {
	color: #2c5ca2;
	background-color: #e1ecf4;
	border: hidden;
	border-radius: 3px;
	padding: 4px 5px;
}

.tag button:hover {
	background-color: #d0e3f1;
}

.tag-text {
	color: #6a737c;
	font-size: 13px;
	padding-right: 10px;
}


.top-post-flex {
	display: flex;
}

.top-post {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}

.top-post p {
	font-size: 13px;
}

.top-post {
	width: 300px;
}

.blue {
	color: #0074cc;
}

.top-post-button-table-one {
	border-collapse: collapse;
	width: 195px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 37px 0 0 139px;
	font-size: 11px;
	color: #6a737c;
}

.top-post-button-table-one td {
	padding: 5px;
	border: 1px solid rgba(129, 129, 129, 0.2);
}

.top-post-button-table-two {
	border-collapse: collapse;
	width: 95px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 4px;
	z-index: 10;
	margin: 37px 0 0 10px;
	font-size: 11px;
	color: #6a737c;
}

.top-post-button-table-two td {
	padding: 5px;
	border: 1px solid rgba(129, 129, 129, 0.2);
}

.dark {
	background-color: #e3e6e8;
	color: black;
}


.top-post-table {
	/*border-collapse: collapse;*/
	width: 742px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 7px;
	z-index: 10;
	margin: 5px 0 0 263px;
}

.top-post-table td {
	padding: 5px 5px 10px 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.questions {
	color: #397bc9;
	font-size: 15px;
}

.post-date {
	color: #6a737c;
	font-size: 13px;
}

.green-number {
	border: hidden;
	border-radius: 4px;
	background-color: #5eba7d;
	padding: 5px;
	color: white;
	font-size: 12px;
	margin: 0 10px 15px 0;
}

.green img {
	width: 20px;
	padding: 10px 5px 3px 5px;
}

.grey-number {
	border: 1px solid rgba(129, 129, 129, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 5px;
	color: black;
	font-size: 12px;
	margin: 0 10px 15px 0;
}

.grey img {
	width: 20px;
	padding: 10px 5px 3px 5px;
}

.top-meta-flex {
	display: flex;
}

.top-meta-post {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}

.meta-post-image img {
	padding-top: 27px;
	margin-left: 525px;
	width: 75px;
}


.top-network-flex {
	display: flex;
}

.top-network-post {
	padding: 20px 0 5px 263px;
	font-size: 21px;
}


.network-post-view {
	margin-top: 35px;
	padding-left: 450px;
	color: #818181;
	font-size: 12.5px;
}

.top-network-table {
	/*border-collapse: collapse;*/
	width: 742px;
	border: 1px solid rgba(129, 129, 129, 0.2);
	border-radius: 7px;
	z-index: 10;
	margin: 5px 0 20px 263px;
}

.top-network-table td {
	padding: 5px 5px 10px 5px;
	border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}